@import "~bootstrap/scss/bootstrap";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "github-highlight";
@import "custom";
@import "sidebar";
@import "content";
body {
    position: relative;
}

html,
body,
demo-app {
    height: 100%;
}

demo-app,
layout-header,
layout-sidenav {
    display: block;
}

.fill {
    height: 100%;
}

.card {
    label {
        margin-bottom: 5px;
    }
    p {
        margin: 10px 0 20px 0;
    }
}

.bd-main {
    order: 1;
}

.ng-select {
    &.has-error {
        .ng-control {
            border-color: #dc3545;
        }
    }
    &.focused.has-error {
        .ng-control {
            border-color: #dc3545;
            box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
        }
    }
}
